body {
  margin: 0;
  font-family: "Courier New", Courier, monospace;
  background: linear-gradient(to right, rgb(33, 0, 255), rgb(218, 0, 255));
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
	cursor: pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
